.footer-container{
    background-color:#EDB545;
    padding: 30px 30px;
    padding-left:15%;
    color:#fff;
    font-weight: 500;
    font-size:12pt;

    
}

#contacter-nous{
    font-size: 15pt;
    text-decoration: underline;
    
}